* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
@media (min-width: 1290px) {
	.prime-container {
		max-width: 1700px;
		/* background-color: blueviolet; */
		height: 100vh;
		margin: auto;
	}
}
@media (min-width: 1290px) {
	.container {
		max-width: 1390px;
		/* background-color: blue; */
		height: 100vh;
		margin: auto;
		display: flex;
	}
}
.container {
	display: flex;
	width: 80%;
}
.sidebar {
	width: 19%;
	position: relative;
	height: 100vh;
	margin-left: 60px;
	/* position: fixed;
	top: 0;
	left: 19%; */
	/* background-color: red; */
}
.menu-text-active {
	font-weight: bold;
}
.button-fcn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	/* background-color: aqua; */
	margin-top: 10px;
	border-radius: 50px;
	border: none;
	background-color: inherit;
	font-size: 20px;
	padding: 10px;
	padding-right: 30px;
	cursor: pointer;
}
.button-fcn:hover {
	background-color: #e7e7e8;
}
.logo {
	margin-top: 20px;
	color: #1e9bf0;
	font-size: 30px;
	border: none;
	border-radius: 100%;
	padding: 5px;
	background-color: inherit;
}
.logo:hover {
	background-color: #a0c9f7;
}
/* .tweetbtn {
	border-top: 100px;
} */
.tweet {
	background-color: #1e9bf0;
	color: white;
	border: none;
	border-radius: 50px;
	padding: 10px 50px;
	font-size: 20px;
	width: 80%;
	margin-top: 30px;
	cursor: pointer;
}
.tweet:hover {
	background-color: #198cd8;
}
.floatingprofile {
	position: absolute;
	bottom: 0px;
	display: flex;
	align-items: center;
	border-radius: 50px;
	border: none;
	background-color: inherit;
	justify-content: space-between;
	gap: 10px;
	padding-left: 15px;
	padding-bottom: 0px !important;
	box-sizing: border-box;
}
.floatingprofile:hover {
	background-color: #e7e7e8;
}
/* .floating-prof-pic {
	height: 70px;
	width: 70px;
	margin-top: 20px;
} */
.floating-prof-pic img {
	height: 45px;
	width: 45px;
	border-radius: 100%;
	object-fit: cover;
}
.username p {
	color: grey;
}
/* .posts-feed-trends-cont {
	display: flex;
	width: 81%;
	background-color: black;
	overflow: scroll;
	overflow-x: hidden;
} */

.posts-feed {
	width: 45%;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	/* padding-right: 20px; */

	/* overflow: scroll; */
	/*-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	scrollbar-width: none; */
	/* overflow-y: hidden; */
	/* overflow-x: hidden; */
}

/* .post-feed::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
.post-feed::-webkit-scrollbar {
	display: none;
} */
.headerfeed {
	position: fixed;
	display: flex !important;
	align-items: center;
	justify-content: space-between;
	gap: 470px;
	/* background-color: red; */
	height: 50px;
	background-color: rgba(255, 255, 255, 0.932);
	padding: 0 15px;
	/* width: inherit; */
}
.createpost {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	border-bottom: 1px solid lightgray;
	margin-top: 18px;
	padding-bottom: 10px;
	padding-top: 2rem;
}
.createpost-profile img {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	object-fit: cover;
	margin-left: 15px;
}

.material-symbols-rounded {
	font-variation-settings: "FILL" 0, "wght" 100, "GRAD" -25, "opsz" 48;
}
#location {
	color: #c7e6fb;
}
#location:hover {
	background-color: inherit !important;
}
.createpost-icons .icon-btn {
	color: #28a0f1;
	background-color: inherit;
	border: none;
	border-radius: 100%;
	padding: 5px;
	font-weight: 50;
}
.createpost-icons .icon-btn:hover {
	background-color: #e9f5fd;
}

.createpost-icons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 200px;
	align-items: center;
	margin-top: 25px;

	/* background-color: red; */
}
.createpost-input input {
	font-size: 17px;
	/* background-color: red; */
}
input {
	border: none;
	background-color: inherit;
}
input:focus {
	outline: none;
}
.whatshappening {
	display: block;
	padding-top: 20px;
}

.createpost-btn {
	background-color: #8ecdf8;
	border-radius: 50px;
	border: none;
	color: white;
	font-size: 15px;
	padding: 10px 20px;
	margin-right: 15px;
}
.post {
	display: flex;
	/* flex-wrap: wrap; */
	margin: 0px 10px 0 10px;
}
.post-avator {
	height: inherit;
}
.post-avator img {
	height: 45px;
	width: 45px;
	border-radius: 100%;
	object-fit: cover;
}
.user-details {
	width: 100%;
	display: flex;
	justify-content: space-between;
	/* gap: 200px; */
	margin: 0 15px 0 15px;
}
.post-caption {
	/* display: inline; */
	line-height: 20px;
}
#spanuser-name {
	color: gray;
}
.material-symbols-rounded {
	font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
#verified {
	/* padding-top: 10px; */
	font-size: 17px;
	color: #1e9bf0;
}
.post-images {
	background-color: blue;
	width: inherits;
}
.post-images img {
	object-fit: cover;
	width: inherit;
}
.userdetailsandmore {
	display: flex;
	justify-content: space-between;
}
/* .imagesandvideos {
	background-color: red;
	height: 300px;
} */
.retweetandlike {
	/* background-color: yellow; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 87%;
	margin-bottom: 10px;
}
.iconsretweetand-like {
	border-radius: 100%;
	border: none;
	padding: 5px;
	background-color: inherit;
	color: gray;
	font-weight: 100;
	/* padding-bottom: 10px; */
}
.iconsretweetand-like img {
	width: 25px;
	height: 25px;
	outline-color: gray;
}
.iconsretweetand-like:hover {
	background-color: #e1eef6;
}
.recentpost {
	border-bottom: 1px solid lightgray;
	padding-top: 25px;
}
.recentpost:hover {
	background-color: #f7f7f7;
}
.caption {
	margin-bottom: 10px;
}
.encloseicons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: gray;
	font-size: 10px;
}
#favourite:hover {
	color: #f55b87;
}
#favbtn:hover {
	color: #f55b87;
	background-color: #f7e0eb;
}
.imagesandvideos img {
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
}
.nameandtime img {
	/* margin-top: 20px; */
	width: 25px;
	height: 25px;
}
div,
button {
	cursor: pointer;
}
/* trends  */
/* .trends-cont {
	background-color: black;
}
.trends {
	background-color: red;
	width: 36%;
	margin-left: 40px;
}
.trendsheader {
	background-color: yellow;
} */
.trends {
	/* background-color: red; */
	width: 36%;
	margin-left: 40px;
	/* margin-bottom: 20px; */
}
.trendsheader {
	display: flex;
	padding: 15px 12px;
	gap: 30px;
	border-radius: 50px;
	background-color: #e0e4e4;
	margin-bottom: 15px;
	margin-top: 10px;
}
.trends-cont {
	border-radius: 10px;
	background-color: #f7f9f9;
	margin-bottom: 20px;
}
.each-trend {
	padding: 15px 12px;
}
.each-trend:hover {
	background-color: #d7d8d9;
}
.each-trend span,
p {
	font-size: 15px;
	color: #686c6f;
}
.each-trend strong {
	color: black;
}
.each-trend .moree {
	float: right;
}
.each-trend .moree span {
	font-size: 25px;
}
.trends-for-you {
	padding: 15px 12px;
}
.each-trend a {
	text-decoration: none;
}
.each-trend-pic {
	float: left;
}
.each-trend-pic img {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	object-fit: cover;
	margin-right: 15px;
}
.followbtn {
	float: right;
}
#who-to-followbtn {
	background-color: black;
	color: white;
	border: none;
	border-radius: 50px;
	padding: 10px 20px;
	font-size: 15px;
	cursor: pointer;
}
.each-trend img {
	width: 20px;
	height: 20px;
}
